<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RequiCompras2_0.My.MySettings.ReqConn" connectionString="Data Source=SERVIDORSAP;Initial Catalog=DIECUTFINAL;Persist Security Info=True;User ID=sa;Password=ConvertSolutions09"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>